.block {
  position: relative;
  width: var(--main-width);
  height: 112px;
  overflow: hidden;
  font-size: 24px;
  font-weight: 500;
  line-height: 28px;
}

.wrapper {
  position: relative;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 8px;
  transition: top ease 0.5s;
}

.spyWrapper {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 8px;
}

.caret {
  position: absolute;
  top: 0;
  left: 0;
  height: 24px;
  width: 2px;
  border-radius: 2px;
  background-color: var(--purple-primary);
  background-color: white;
  animation: carretAnimation infinite ease 1s;
}

.activeCaret {
  animation: none;
}

.input {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
}

.correct {
  color: var(--white-primary);
}

.incorrect {
  color: var(--ui-red);
}

.startFocusing {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: var(--white-primary);
  gap: 4px;
}

.blurred {
  filter: blur(2px);
}

@keyframes carretAnimation {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}
