:root {
  --bg-primary: #242038;
  --accent-primary: #9067c6;
  --bg-secondary: #8d86c9;
  --white-primary: #f7ece1;
  --main-width: 1250px;
  --ui-red: #6c0f16;
}

body {
  margin: 0;
  background-color: var(--bg-primary);
  color: var(--bg-secondary);
  display: flex;
  align-items: center;
  height: 100vh;
  padding: 2em;
  box-sizing: border-box;
  justify-content: space-between;
  flex-direction: column;
}
