.block {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: var(--main-width);
}

.leftSide {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
}

.logoTitle {
  font-size: 20px;
  font-weight: 500;
  pointer-events: none;
  color: var(--accent-primary);
}
